/**
  * 1. Переопределяет свойство `appearance`, заменяет `searchfield` в Safari и Chrome.
  * 2. Переопределяет свойство `box-sizing`, заменяет `border-box` в Safari и Chrome.
  */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
  * Убирает внутренний отступ и кнопку очистки строки поиска в Safari и Chrome в OS X
  */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}